<jh-alert></jh-alert>
<div class="row">
    <div class="panel-heading app-heading">{{repo.description}}
        <div id="cog-dropdown" class="dropdown pointer">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                <span>
                    <span class="glyphicon glyphicon-cog"></span>
                    <b class="cog-caret"></b>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a ui-sref="data.item.repodetail">
                        <span translate="entity.action.view"></span>
                    </a>
                </li>
                <li>
                    <a ui-sref="data.item.repoedit">
                        <span translate="entity.action.edit"></span>
                    </a>
                </li>
                <li>
                    <a ui-sref="data.item.repodelete">
                        <span translate="entity.action.delete"></span>
                    </a>
                </li>
                <li>
                    <a ui-sref="data.item.new">
                        <span translate="piaApp.item.home.createLabel"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<button class="btn custom-btn" ui-sref="data.item.detail({itemId:item.id})">
    <span
        translate="piaApp.item.home.createLabel">Create new Item
    </span>
</button>-->
<div class="table-responsive">
    <table id="items-table" class="table table-striped">
        <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                <th jh-sort-by="id"><span class="font-size-large" translate="data.recordID">ID</span></th>
                <th jh-sort-by="value"><span class="font-size-large" translate="piaApp.item.value">Value</span></th>
                <th style="text-align: center;"><span class="font-size-large" translate="data.actions">Actions</span></th>
            </tr>
        </thead>
        <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="loadInProgress || links['last'] == page">
            <tr ng-repeat="item in items track by item.id">
                <td class="col-md-1"><a ui-sref="data.item.detail({itemId:item.id})">{{item.id}}</a></td>
                <td class="col-md-8" ng-if="item.shortText" style="word-wrap: break-word; max-width: 200px;">{{item.shortText}}<a class="more-btn" href="" ng-if="item.showAllLink" ng-click="item.shortText = item.itemText; item.showAllLink = false"><span translate="data.showall">Read more</span></a></td>
                <td class="col-md-8" ng-if="!item.shortText">{{item.itemText}}</td>

                <td class="text-right col-md-3">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="data.item.detail({itemId:item.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="data.item.edit({itemId:item.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="data.item.delete({itemId:item.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
